#wrapper {
  height: 672px;
  width: 672px;
  margin: 10px auto;
  background-color: orange;
  border: 1px black solid;
}

.cell {
  background-color: cornflowerblue;
  margin: 0;
  outline: 1px black solid;
  float: left;
  display: grid;
}
#reset {
  margin: auto;
}
